body {
    background: #ecf0f1;
    font-family: "Roboto Mono", monospace;
  }
  .error-container {
    width: 700px;
    margin: 0 auto;
    text-align: center;
    font-size: 45px;
    color: red;
  }