@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,700");
* {
  box-sizing: border-box;
}

body {
  background: #ecf0f1;
  font-family: "Roboto Mono", monospace;
}

button {
  display: block;
  margin: 0 auto;
  background: #2980b9;
  border: 2px solid #55a5d9;
  border-radius: 4px;
  padding: 15px;
  box-shadow: none;
  outline: none;
  color: #ecf0f1;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

button:hover {
  background: #55a5d9;
  border-color: #1b557a;
}

button:active {
  transform: rotateY(180deg);
}

p {
  display: block;
  margin: 15px auto;
  width: 100%;
  max-width: 1200px;
  background: #bdc3c7;
  color: #34495e;
  text-align: center;
  padding: 15px;
  border-radius: 4px;
}
